h1{
  font-size: 3em;
  text-align: center;
  color: $color-primary;
}

h2 {
  font-size: 2em;
  text-align: center;
  color: $color-grey;
}

h4 {
  color: $color-secondary;
  margin-top: 30px;
  margin-bottom: 30px;
}

.listWrap { 
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      color: $color-primary};
      :first-of-type {
        border-top: none;
      }
    }
}

