div.main {
  min-height: 100vh;
  padding-bottom: 60px;
  background-color: black;
  // height: 100%;
  .bgImage {
    // height: 100vh;

    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    /* Set rules to fill background */
    opacity: 0.35;
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .bgImage {
      left: 50%;
      margin-left: -512px; /* 50% */
    }
  }
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    clear: both;
    background-color: $color-primary;
    color: white;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;
    }
  }
}
