body {
  background-color: $color-black;
}

div.main {
  min-height: 100vh;
  padding-bottom: 60px;

  .bgImage {
    /* Set rules to fill background */
    opacity: 0.35;
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .bgImage {
      left: 50%;
      margin-left: -512px; /* 50% */
    }
  }
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;

  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    clear: both;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;

      .icon {
        margin: 30px;
        color: $color-primary;
        &:hover {
          color: $color-secondary;
          transform: scale(1.2);
        }
      }
    }
  }
}
html:not([data-scroll="0"]) {
  footer {
    //background-color: red;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
